registry=https://registry.npmjs.org/
@algorithmwatch:registry=https://npm.pkg.github.com/
@fortawesome:registry=https://npm.fontawesome.com/

# There are some packages that rely on an older React version, disable peer deps for now
 legacy-peer-deps=true
