@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@layer base {
  body {
    @apply bg-white;
  }

/*
  button {
    background-color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    appearance: none;
    font-size: 1.3rem;
    box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
      0px 18px 88px -4px rgba(24, 39, 75, 0.14);
    transition: transform ease-in 0.1s;
  }

  button:hover {
    transform: scale(1.05);
  } */
}
