@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@layer base {
  body {
    @apply bg-yellow-100 dark:bg-blue-900 overflow-hidden text-yellow-1500;
    background-image: url('static/images/bg.png');
    background-size: 90%;
  }
}

.link-blue {
  @apply underline hover:no-underline text-blue-600 cursor-pointer;
}

/* Fonts */

/* rubik-regular - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('static/fonts/rubik-v14-latin/rubik-v14-latin-regular.woff2')
      format('woff2');
}
/* rubik-500 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('static/fonts/rubik-v14-latin/rubik-v14-latin-500.woff2')
      format('woff2');
}
/* rubik-700 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('static/fonts/rubik-v14-latin/rubik-v14-latin-700.woff2')
      format('woff2');
}

/* TippyJS  */

@import 'tippy.js/dist/tippy.css';

/* Theme process info */
.tippy-box[data-theme~='process-info'] {
  @apply text-yellow-100 bg-yellow-1500 rounded-none p-0.5;
}
.tippy-box[data-theme~='process-info'][data-placement^='top']
  > .tippy-arrow:before {
  border-top-color: theme('colors.yellow.1500');
}
.tippy-box[data-theme~='process-info'][data-placement^='bottom']
  > .tippy-arrow:before {
  border-bottom-color: theme('colors.yellow.1500');
}
.tippy-box[data-theme~='process-info'][data-placement^='left']
  > .tippy-arrow:before {
  border-left-color: theme('colors.yellow.1500');
}
.tippy-box[data-theme~='process-info'][data-placement^='right']
  > .tippy-arrow:before {
  border-right-color: theme('colors.yellow.1500');
}
.tippy-box[data-theme~='process-info'] > .tippy-backdrop {
  @apply bg-yellow-1500;
}

.tippy-box[data-theme~='process-info-current'] {
  @apply text-yellow-1500 bg-yellow-600 rounded-none p-0.5;
}
.tippy-box[data-theme~='process-info-current'][data-placement^='top']
  > .tippy-arrow:before {
  border-top-color: theme('colors.yellow.600');
}
.tippy-box[data-theme~='process-info-current'][data-placement^='bottom']
  > .tippy-arrow:before {
  border-bottom-color: theme('colors.yellow.600');
}
.tippy-box[data-theme~='process-info-current'][data-placement^='left']
  > .tippy-arrow:before {
  border-left-color: theme('colors.yellow.600');
}
.tippy-box[data-theme~='process-info-current'][data-placement^='right']
  > .tippy-arrow:before {
  border-right-color: theme('colors.yellow.600');
}
.tippy-box[data-theme~='process-info-current'] > .tippy-backdrop {
  @apply bg-yellow-1500;
}

/* GlideJS */

@import '@glidejs/glide/dist/css/glide.core.min.css';

.glide--swipeable {
  cursor: grab;
}

.glide--dragging {
  cursor: grabbing;
}
