@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@layer base {
  body {
    @apply h-screen w-screen;
  }
}

#root {
  @apply min-h-full h-full w-full;
}

.link-blue {
  @apply underline hover:no-underline text-blue-600 cursor-pointer;
}

/* Fonts */

/* rubik-regular - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("static/fonts/rubik-v21-latin/rubik-v21-latin-regular.woff2")
      format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* rubik-500 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("static/fonts/rubik-v21-latin/rubik-v21-latin-500.woff2")
      format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* rubik-700 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("static/fonts/rubik-v21-latin/rubik-v21-latin-700.woff2")
      format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-family: "Inter var";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("static/fonts/inter-var/Inter-roman.var.woff2?v=3.19")
    format("woff2");
  font-named-instance: "Regular";
}

@font-face {
  font-family: "Inter var";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("static/fonts/inter-var/Inter-italic.var.woff2?v=3.19")
    format("woff2");
  font-named-instance: "Italic";
}

/* TippyJS  */

@import "tippy.js/dist/tippy.css";

/* Theme process info */
.tippy-box[data-theme~="process-info"] {
  @apply text-yellow-100 bg-yellow-1500 rounded-none p-0.5;
}
.tippy-box[data-theme~="process-info"][data-placement^="top"]
  > .tippy-arrow:before {
  border-top-color: theme("colors.yellow.1500");
}
.tippy-box[data-theme~="process-info"][data-placement^="bottom"]
  > .tippy-arrow:before {
  border-bottom-color: theme("colors.yellow.1500");
}
.tippy-box[data-theme~="process-info"][data-placement^="left"]
  > .tippy-arrow:before {
  border-left-color: theme("colors.yellow.1500");
}
.tippy-box[data-theme~="process-info"][data-placement^="right"]
  > .tippy-arrow:before {
  border-right-color: theme("colors.yellow.1500");
}
.tippy-box[data-theme~="process-info"] > .tippy-backdrop {
  @apply bg-yellow-1500;
}

.tippy-box[data-theme~="process-info-current"] {
  @apply text-yellow-1500 bg-yellow-600 rounded-none p-0.5;
}
.tippy-box[data-theme~="process-info-current"][data-placement^="top"]
  > .tippy-arrow:before {
  border-top-color: theme("colors.yellow.600");
}
.tippy-box[data-theme~="process-info-current"][data-placement^="bottom"]
  > .tippy-arrow:before {
  border-bottom-color: theme("colors.yellow.600");
}
.tippy-box[data-theme~="process-info-current"][data-placement^="left"]
  > .tippy-arrow:before {
  border-left-color: theme("colors.yellow.600");
}
.tippy-box[data-theme~="process-info-current"][data-placement^="right"]
  > .tippy-arrow:before {
  border-right-color: theme("colors.yellow.600");
}
.tippy-box[data-theme~="process-info-current"] > .tippy-backdrop {
  @apply bg-yellow-1500;
}

/* GlideJS */
@import "components/Carousel/theme.scss";

/* Tiktok animated gradient background */
.animated-gradient-tiktok-light {
  background: linear-gradient(
    -45deg,
    #fff,
    #ff89ae,
    #6afffa,
    #ff89ae,
    #6afffa,
    #fff
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*
.fade-element-1 {
  pos
  animation-name: fade;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-direction: normal;
}

.fade-element-2 {
  animation-name: fade;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-delay: 4s;
  animation-duration: 4s;
  animation-direction: normal;
} */

/* @keyframes fade {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */
